html,
body {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
}
/* div {
  display: flex;
  flex-direction: column;
} */

.tiled {
  background: red;
}

td {
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid gray;
  cursor: pointer;
}

.ally {
  background: orange;
}

.enemy {
  background: blue;
}

.active {
  border-radius: 20px;
}

.board {
  display: flex;
}

h5 {
  margin: 5px;
}
